<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>, this is your receipt.</h1>
    <p>
      You have successfully purchased<%= @project.name %>
      at $<%= @project.price %>.
  </body>
</html>