@import "materialize";
@import "toastr";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  }

main {
  flex: 1 0 auto;
}

.no-background {
	background: none;
}

.toast {
  background-color: #030303;
}
.toast-info {
  background-color: #3276b1;
}
.toast-info2 {
  background-color: #2f96b4;
}
.toast-error {
  background-color: #ff5252;
}
.toast-success {
  background-color: #00e676;
}
.toast-warning {
  background-color: #ffc107;
}

.container {
  width: 95%;
}

.project-card {
  height: 6em;
}

